img{
    width: 15%;
    height: 15%;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-bottom: 2px solid red;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 20px;
}